<!-- your html code here -->
<div class="container mt-5 mb-10">
    <div class="row">
        <div class="col-md-11  mx-5">
        <h1>Contact
        </h1>
        <p id=pft1>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
    </div>
</div>
  <!--Form Input Starts Here-->
          <!--Email address-->
      <div class="container border border-rounded border-color-primary  bg-light mx-7 col-md-8 mb-10">
    <form class ="">
        <div class="row ">
          <div class="col-4 text-end pt-2">
            <label for="exampleFormControlInput1">Email address
            </label>
            </div>
        <div class="col-8 form-group flex-row-reverse pt-2 pb-3">
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
    </div>
  <!--Form Input Message Area-->
          <div class="row ">
            <div class="col-4 text-end">
              <label for="exampleFormControlTextarea1">Your message
            </label>
          </div>
      <div class="col-8 form-group flex-row-reverse">
          <textarea class="form-control " id="exampleFormControlTextarea1"  Placeholder="Please enter your message here..." rows="4" ></textarea>
          <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-primary float-end">Submit
          </button>
          
          


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Information Successfully Submitted</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        We'll be in touch shortly
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
        </div>
      </div>
      </form>
    </div>
        </div>
        
    

