<!-- your html code here -->
<div class="container pt-7 ">
<div 1 class="row pb-0 mx-5 pt-5 " > 
    <div class="col-md-12 ">
        <Strong class="fs-3 top-text ">Portfolio</strong>
            <p class="fs-6 text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    
</div>
    <div class="row border-bottom border-secondary">
        <div class="col-md-4 float-start me-0 ">
            <div class="mb-1 box">
        <img src="https://picsum.photos/120/100" class="rounded  " alt="...">
        <p class="h5 fs-3 text-primary">Project</p>
            <p id="pft" class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        </div>
    </div>
    <div class="col-md-4 float-start text-start me-0">
        <div class="mb-1 box">
        <img src="https://picsum.photos/120/100" class="rounded" alt="...">
        <p class="h5 fs-3 text-primary">Project</p>
        <p id="pft" class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>
    </div>
    </div>
    <div class="col-md-4 float-start text-start  me-0 ">
        <div class="mb-1 box">
        <img src="https://picsum.photos/120/100" class="rounded " alt="...">
        <p class="h5 fs-3 text-primary">Project</p>
        <p id="pft" class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>
    </div>
    </div>
</div>
</div>
</div>
