<!-- your html code here -->
<div class="container pb-5">
    <div div1 class="row pt-5 pb-5 mx-5 border-top border-bottom border-secondary" > 
        <div class="col-3 ">
            <img src="/fperez028-miami-pt78-exercise-collaborative-html-website/website/assets/img/2.jpg" alt="Image 2">
        </div>
            <div one class="col-9 ps-2 ">
                <h1 >The Second Heading<span class="text-muted"> Is Pretty Cool Too. </span></h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                </p>
            </div>
    </div>
</div>