<!-- your html code here -->

<div class="container  pb-7 ">
    <div  class="row py-5 mx-5 " > 
        <hr id="separator">
        <div class="col-3">
            <img src="./assets/img/2.jpg" alt="Image 2">
        </div>
            <div class="col-9 ps-1  justify-content-start">
                <h1 >The Second Heading<span class="text-muted"> Is Pretty Cool Too. </span></h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                </p>
            </div>
    </div>
</div>